.ionic-datepicker .selected_date_full {
  color: #387EF5;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

.ionic-datepicker .color_blue {
  color: rgb(56, 126, 245);
}

.ionic-datepicker .big_chevron {
    font-size: 20px;
}

.ionic-datepicker .bg_color_blue {
  background-color: rgb(56, 126, 245);
}

.ionic-datepicker .date_col:hover {
  background-color: rgba(56, 126, 245, 0.5);
  cursor: pointer;
}

.ionic-datepicker .date_col:active {
  background-color: rgba(56, 126, 245, 1);
  cursor: pointer;
}

.ionic-datepicker .no_padding {
  padding: 0;
}

.ionic-datepicker .date_cell {
  padding: 5px;
}

.ionic-datepicker .date_selected {
  background-color: rgba(56, 126, 245, 1);
}

.ionic-datepicker .today {
  background-color: rgba(186, 186, 186, 1);
}

.ionic-datepicker .pointer_events_none {
  pointer-events: none !important;
  color: #AAAAAA;
}

.ionic-datepicker .select_section {
  padding: 0;
}

.ionic-datepicker .select_section label {
  padding: 12px;
}

.ionic-datepicker .select_section select {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 10px;
  direction: ltr;
  left: 0;
  width: 100%;
  max-width: 100%;
}

.ionic-datepicker .select_section .item-select:after {
  right: 4px;
  border-top: 4px solid;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(0, 0, 0, 0);
}

.ionic-datepicker .left_arrow {
  direction: rtl;
}


.ionic_datepicker_modal_content .selected_date_full {
  font-size: 20px;
}
.ionic-datepicker .font_22px {
  font-size: 22px;
}
.ionic_datepicker_modal_content {
  padding-top: 10%;
}
.ionic_datepicker_modal_content .selected_date_full{
  padding: 20px;
}
@media (min-width: 680px) {
  .ionic_datepicker_modal_content {
    padding-top: 0;
  }
  .ionic_datepicker_modal_content .selected_date_full {
    font-size: inherit;
  }
  .ionic_datepicker_modal_content .selected_date_full{
    padding: 10px 0 0 0;
  }
}

.col-45 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 45%;
    max-width: 45%;
    margin-left: 18px;
}

.col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 30%;
    max-width: 50%;
    margin-left: 10px;
}

.ionic-datepicker .selector-date {
    padding-bottom: 10px;
}

.ionic-datepicker .week-center {
    text-align: center;
}