<div class="ionic-datepicker">
    <div class="selected_date_full">{{selectedDateFull | formatDate}}</div>
    <div class="row selector-date">
        <div class="col col-10 left_arrow" ng-click="prevMonth()"
             ng-class="{'pointer_events_none':(enableDatesFrom.isSet && enableDatesFrom.epoch > currentMonthFirstDayEpoch)}">
            <button class="button-clear">
                <i class="icon ion-chevron-left big_chevron"
                   ng-class="{'color_blue':((enableDatesFrom.isSet && enableDatesFrom.epoch < currentMonthFirstDayEpoch) || (!enableDatesFrom.isSet))}"></i>
            </button>
        </div>
        <div class="col col-80 drop_down no_padding">
            <div class="row select_section">
                <div class="col col-45 month_select">
                    <div class="list">
                        <label class="item item-input item-select">
                            <select ng-model="currentMonth" ng-change="monthChanged(currentMonth)" class="month_select">
                                <option value="{{month}}" ng-repeat="month in monthsList"
                                        ng-selected="month == currentMonthSelected">
                                    {{month}}
                                </option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col col-30 year_select">
                    <div class="list">
                        <label class="item item-input item-select">
                            <select ng-model="currentYear" ng-change="yearChanged(currentYear)" class="year_select">
                                <option value="{{year}}" ng-repeat="year in yearsList"
                                        ng-selected="year == currentYearSelected">
                                    {{year}}
                                </option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-10 right_arrow" ng-click="nextMonth()"
             ng-class="{'pointer_events_none':(enableDatesTo.isSet && enableDatesTo.epoch < currentMonthLastDayEpoch)}">
            <button class="button-clear">
                <i class="icon ion-chevron-right big_chevron"
                   ng-class="{'color_blue':((enableDatesTo.isSet && enableDatesTo.epoch > currentMonthLastDayEpoch) || (!enableDatesTo.isSet))}"></i>
            </button>
        </div>
    </div>
    <div class="calendar_grid">
        <div class="row week-center">
            <div class="col" ng-repeat="weekName in weekNames track by $index" style="font-weight: bold">
                {{ weekName }}
            </div>
        </div>
        <div style="height: 180px;">
            <div class="row" ng-repeat="row in rows track by $index" style="text-align: center;">
                <div class="col no_padding" ng-repeat="col in cols track by $index"
                     ng-class="{'date_col': (dayList[$parent.$index * numColumns + $index].day != undefined),
        'date_selected': (dayList[$parent.$index * numColumns + $index].dateString === selctedDateStringCopy && dayList[$parent.$index * numColumns + $index].day != undefined) ,
        'today' : (dayList[$parent.$index * numColumns + $index].date == today.date && dayList[$parent.$index * numColumns + $index].month == today.month && dayList[$parent.$index * numColumns + $index].year == today.year)}">
                    <div class="date_cell" ng-click="dateSelected(dayList[$parent.$index * numColumns + $index])"
                         ng-class="{'pointer_events_none':(disabledDates.indexOf(dayList[$parent.$index * numColumns + $index].epochLocal) > -1) || (enableDatesFrom.isSet && enableDatesFrom.epoch > dayList[$parent.$index * numColumns + $index].epochLocal) || (enableDatesTo.isSet && enableDatesTo.epoch < dayList[$parent.$index * numColumns + $index].epochLocal)}">
                        {{ dayList[$parent.$index * numColumns + $index].date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="error_msg padding-horizontal"
         ng-show="date_selection.submitted === true && date_selection.submitted === false">{{errorMsgLabel}}
    </div>
</div>